@charset "utf-8";

input,button{margin:0;font-size:12px;vertical-align:middle;}

table{border-collapse:collapse;border-spacing:0;}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:none;color:#118ecc;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}

/* screenBox */
#selectList { position:relative; font-size:12px;}
.screenBox dl{border-bottom:#e6e6e6 1px dashed;overflow:hidden;padding:10px 0;_zoom:1;}
.screenBox dl dt{float:left;}
.screenBox dl dt{text-align:left;width:80px;font-weight:600;padding-top:4px;}
.screenBox dl dd{position:relative;padding-left:0px;width:1050px;padding-right:48px;float:left;padding-top:0px;vertical-align:middle;}
.screenBox dl dd label{line-height:14px;margin:0px 25px 0px 0px;color:#666;overflow:hidden;text-decoration:none;float:left;display:block;vertical-align:middle;}
.custom{position:absolute;right:-200px;top:0;width:260px;}
#custext1,#custext2{width:44px;}
#cusbtn{border:none;background:url(../images/jdlist_436.png) no-repeat;width:45px;height:22px;margin-left:5px;cursor:pointer;}
.screenBox dl dd label input{float:left;width:13px;height:13px;margin-right:3px;margin-top:5px;}
.screenBox dl dd label a{padding:5px 8px 5px 3px;display:inline-block;}
.screenBox dl dd a:hover{background:#3ab5a0;color:#fff;}
.screenBox dl dd a.selected{background:#39c;color:#fff;}
.ifmore{width:39px;display:block;height:14px;top:5px;cursor:pointer; position:relative; left:48%;}
.ifmore em{background:url(../images/jdlist_434.png) no-repeat 0 5px;display:inline-block;float:right;width:10px;height:14px;}
.more_bg em {background:url(../images/jdlist_433.png) no-repeat 0 6px;}

.ui-tab-container ul{border-bottom:1px solid #ddd;padding-left:60px;}
.ui-tab-container ul li{float:left;padding:5px 20px 5px 10px;background:url(../images/jdlist_434.png) 85% center no-repeat;margin:0 5px;cursor:pointer;border-bottom:none;}

#time-num{position:absolute;left:10px;top:10px;}
#time-num font{color:#fa7003;}
.hasBeenSelected{border-top:#ddd 1px solid;padding:2px;overflow:hidden;/*background:#fbfcff;*/ padding-left:10px;position:relative; font-size:13px;}
.hasBeenSelected dl{overflow:hidden;}
.hasBeenSelected dl dt{float:left;}
.hasBeenSelected dl dd{float:left;}
.hasBeenSelected dl dt{line-height:30px;width:80px;height:30px;}
.hasBeenSelected dl dd{padding-bottom:4px;padding-left:0px;width:676px;padding-right:0px;padding-top:0px;}

.eliminateCriteria{line-height:21px;margin-top:4px; float:right;color:#3ab5a0;cursor:pointer;}

.ui-tab-container ul li.ui-tab-active{background:url(../images/jdlist_433.png) 90% center no-repeat #f5f9fa;margin-bottom:-1px;border-style:solid;border-width:1px;border-color:#ddd;border-bottom:1px solid #f5f9fa;color:#118ecc;font-weight:700;}
.ui-tab-container ul.ui-tab-list2 li{background-image:none;padding:5px 10px;}
.ui-tab-container ul.ui-tab-list2 li.ui-tab-active{background-image:none; }
.ui-tab-container ul li.ui-tab-disable{background:#ff0000;border-bottom:1px solid #999;margin-bottom:-1px;}
.ui-tab-container .ui-tab-content{padding:10px;border:1px solid #ddd;border-top:none;background:#f5f9fa;}
.ui-tab-container .ui-tab-content2{padding:10px;border:1px solid #ddd;border-top:none;background:#f5f9fa;}
.ui-tab-container .ui-tab-content p{float:left;display:inline;padding:3px 5px;margin-right:20px;vertical-align:middle;white-space:nowrap;}
.ui-tab-container .ui-tab-content p input{margin-right:5px;}

.screen-top{padding:8px 0;background-color:#f6f6f6;}
.screen-top span{font-size:14px;padding-left:15px;}
.screen-top span input{padding:3px;margin-left:10px;height:22px;width:90px;}
.jiud-name{font-weight:600;padding-top:6px;text-align:left;width:80px;float:left;}
.list-screen{border:1px solid #ddd;border-top:2px solid #3ab5a0; margin:10px 10px 0}
#submit-btn{background:url(../images/jdlist_432.png) no-repeat;width:86px;height:30px;text-indent:-999em;display:block;position:absolute;right:10px;top:8px;}

.selectedInfor{border:#f60 1px solid;position:relative;padding-bottom:2px;margin:4px 10px 0px 0px;padding-left:5px;padding-right:17px;display:block;white-space:nowrap;background:#fff;float:left;height:16px;padding-top:2px; font-size:12px;}
.selectedInfor label{color:#f60;}
.selectedInfor em{background:url("../images/close.gif") no-repeat;cursor:pointer;display:block;height:13px;overflow:hidden;position:absolute;right:2px;top:4px;width:13px;}

.ifdx { position:absolute;width:50px;display:block;height:20px; line-height:20px; text-align:center; padding-top:2px; cursor:pointer;right:1px; border:1px solid #ddd; border-radius:2px; color:#555; }
.ifdx em { background: url(../images/search.ele.png) no-repeat -1px -68px;float:left;width:11px;height:11px; margin:3px 0 5px 5px;}

.ifsearch { padding:5px 10px; background:#3ab5a0; color:#fff; position:absolute; left:-1px; top:0; font-size:14px;}
.ifsearch:after { content:""; width:0; height:0; border-width:6px; border-style:solid; border-color: #3ab5a0 transparent transparent; position:absolute; top:29px; left:50%; margin-left:-6px;}