@charset "utf-8";
body { width:100%; margin:0; font-size:14px; color:#505050; background:#f6f6f6;}
* { margin:0; padding:0; list-style:none;}
.centerbox { width:1240px; margin:0 auto; clear:both;}


.header { float:left; width:100%; height:64px; background:#0e9b92 linear-gradient(135deg,#0b827c,#11bab0)}

.logo { float:left; width:162px; height:48px; margin-top:9px;}
.title { float:left; font: normal 20px/48px "Microsoft yahei"; color:#fff; margin-top:7px; margin-left:10px;}
.now_time { float:left; padding:5px 8px; background:rgba(255,255,255,.2); color:#fff; margin:18px 0 0 20px; font-size:14px;}

/**导航**/
.nav { float:right;}
.nav li { float:left; width:142px; height:64px; font:16px/64px "Microsoft yahei"; color:#fff; /*border-right:1px solid #2bc2b9;*/background:url(../images/nav_li_ge.png) no-repeat right 0; position:relative;}
.nav li i { float:left; width:20px; height:20px; font-size:20px; margin:25px 8px 0 25px;}
.nav li:first-child:before { content:""; width:1px; height:64px; background:url(../images/nav_li_ge.png) no-repeat right 0; position:absolute; left:0; top:0; }
.nav li.selected a{ background:radial-gradient(#1ec4c0,#02817a); position:relative; display:block;}
.nav li.selected:after { content:""; width:0; height:0; border-width:8px; border-style:solid; border-color:transparent transparent #f6f6f6; position:absolute; bottom:0; left:50%; margin-left:-8px;}
.nav li a { display:block; color:#fff; text-decoration:none;text-align:left;}
.nav li a:hover{cursor: pointer;}

.f_l { float:left;}
.f_r { float:right;}
.lan01 { width:138px;}
.lan02 { width:296px;}
.lan03 { width:454px;}
.lan04 { width:612px;}
.lan05 { width:770px;}
.lan06 { width:928px;}
.lan08 { width:1240px;}

.modularbox { float:left; width:100%; padding:0 10px 20px; box-shadow:0 0 2px 2px rgba(0,0,0,.1); /*border:1px solid #ddd;*/ background:#fff; box-sizing:border-box; }
.modular_title { float:left; width:100%; height:34px; padding-top:2px; border-bottom:1px solid #cdcdcd; font:16px/34px "Microsoft yahei"; color:#161616;}

.jiange { margin-left:20px;}
.m_t { margin-top:20px;}
.no_p_b { padding-bottom:0;}
.p_b_10 { padding-bottom:10px;}

/**大版块内有间隔的一半尺寸**/
.mknkd50 { width:590px;}

/*******运行总览******/
.yxzl_gd { position:relative;}
.yxzl_gd:first-child:before { content:""; position:absolute; top:0; bottom:0; right:-20px; border-right:1px solid #cdcdcd;}
.hglpin { float:left; width:25%; height:260px; border-right:1px solid #cdcdcd; box-sizing:border-box;}
.hglzx { float:left; width:75%; height:260px;}

.sxbtbox { float:left; width:100%; height:450px;}
.dwbz { color:#999; font-size:12px; margin-top:5px;}


/********查询*******/
.formbox { float:left; width:100%; margin-top:5px;}
.formbox table tr td { height:38px; color:#505050; padding:0 8px;}
.cxbutt { background:#f49521; margin-top:12px;}

/*****特征值****/
.tzdata {float:left; width:100%; margin-top:10px;}
.tzdata h3 { float:left; width:100%; height:40px; background:#3ab5a0; color:#fff; text-align:center; text-align:center; line-height:40px;}
.tzdata h3 .t_t { float:left; width:26%; height:40px; }
.tzdata h3 .t_n { float:left; width:40%; height:40px; }
.tzdata h3 .t_s { float:left; width:34%; height:40px; }
.tzdata ul,.tzdata ul li { float:left; width:100%;}
.tzdata ul li { margin-top:10px; background:#f3f3f3;}
.tzdata ul li div { float:left;}

.tzdata ul li .tzbg_t { width:26%; height:44px; line-height:44px; text-align:center;}
.tzdata ul li .tzbg_num { width:28%; height:44px; padding-right: 6%; padding-left:6%; text-align:right;}
.tzdata ul li .tzbg_num p { height:22px; line-height:22px;}
.tzdata ul li .tzbg_num p i { float:left; margin-top:5px; }
.tzdata ul li .tzbg_num p.up { color:#3ab5a0}
.tzdata ul li .tzbg_num p.down { color:#f49521}
.tzdata ul li .tzbg_time { width:30%; height:44px; margin-left:4%;}
.tzdata ul li .tzbg_time p { height:22px; line-height:22px;}

.dlcxdata { float:left; width:100%; height:700px;}
.yuedl_butt { height:28px; line-height:28px; margin-top:2px;}
.dlcs_search { float:left; width:100%; padding:15px 0 10px;}
.dlcs_search input{ float:left;  width:240px; }
.ssbutt { height:28px; margin-left:5px; line-height:28px;}

.sctjdatabox { float:left; width:100%; height:40px; background:#f7f9fd; margin:10px 0 0; line-height:40px; padding:0 20px; box-sizing:border-box; font-size:14px; border-top:1px solid #ddd;border-bottom:1px solid #eee;}
.dlcxrqk { width:160px; margin-left:30px; margin-top:-3px;}


.cxsjdata {float:left; width:100%; height:500px; margin:0; position:relative;}
.cxsjdata .xspytop { position:absolute; left:auto; right:0; top:-40px; width: auto; border:none;}
.cxsjdata .xspytop li i { font-size:16px; margin-right:5px;}
.cxsjdata .xspytop li.layui-this { background:#3ab5a0;/*009688*/ color:#fff; border:none;}
.cxsjdata .xspytop li.layui-this:after { border:none; content:""; width:0; height:0; border-width:6px; border-style:solid; border-color:transparent transparent #fff; position:absolute; top:28px; left:50%; margin-left:-6px;}

.layui-tab-item .layui-table-view { margin:5px 0 10px; }
.layui-input { font-size:13px;}